@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


/* Light Theme (Default) */
@theme {
  --background-color: #F9FAFB;  /* Light gray */
  --card-bg-color: #FFFFFF;     /* White cards */
  --text-primary-color: #111827;
  --text-secondary-color: #6B7280;
  --primary-color: #1E3A8A;
  --accent-color: #FBBF24;
}


a.active{
    @apply bg-accent
    
}

.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pagination {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.pagination button {
  background-color: black;
  color: rgb(255 255 255 );
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}
.pagination .selected {
  background-color: #2563eb; 
  color: white;
  font-weight: bold;
  border-radius: 5px;
}